export(chunkify)
export(compact)
export(cut.ff)
export(droplevels.ff)
export(droplevels.ffdf)
export(c.ff)
export(mean.ff)
export(mean.ffdf)
export(subset.ff, subset.ffdf)
export(all.ff)
export(any.ff)
export(sum.ff)
export(min.ff, max.ff, range.ff)
export(table.ff)
export(tabulate.ff)
export(transform.ffdf)
export(unique.ff)
export(with.ffdf)
export(within.ffdf)
